@model ProjektDT191G.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Category Details</h1>

    <div class="card shadow-lg">
        <div class="card-body p-3">
            <h4 class="card-title">Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>

        <div class="mt-2 mb-5 text-center">
            @if (User.IsInRole("Administrator")) @* Endast admin ska ha åtkomst *@
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a>
                <span> | </span>
            }
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
