@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Introduktions text om företagets tjänster med fakta och bilder. Sen att skapa konto om du vill ta del av tips eller liknande.</del></p>
</div>

@* Kunna filtrera föreläsningar utifrån kategori med en dropdown.  *@

@* Skriva ut föreläsningarna här med titel, beskrivning och pris.  *@

